[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "meteoForecast"]
	path = meteoForecast
	url = https://github.com/oscarperpinan/meteoforecast
[submodule "rasterVis"]
	path = rasterVis
	url = https://github.com/oscarperpinan/rastervis
[submodule "solaR"]
	path = solaR
	url = https://github.com/oscarperpinan/solar
[submodule "tdr"]
	path = tdr
	url = https://github.com/oscarperpinan/tdr
