[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "meteoForecast"]
	path = meteoForecast
	url = https://github.com/cran/meteoForecast
[submodule "rasterVis"]
	path = rasterVis
	url = https://github.com/cran/rasterVis
[submodule "solaR"]
	path = solaR
	url = https://github.com/cran/solaR
[submodule "tdr"]
	path = tdr
	url = https://github.com/cran/tdr
